body {
  background-color: #8c52ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#weather-app {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 32px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
h2,
p,
label {
  color: #fff;
  margin: 8px 0;
}
.input-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
    
}
input {
  width: calc(100% - 20px);
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid white;

  outline: none;


  border-radius: 10px;

}
input:hover,
input:focus {
  border: #8b48d7 3px solid;
}
button {
  background-color: #debff4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  font-size: 16px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #8b48d7;
}
#WeatherIcon {
  width: 200px;
  height: 200px;
  margin: 10px auto 10px;
  margin-bottom: 0;
  display: none;
}
#temp-div {
  font-size: 60px;
  margin-top: -30px;
}
#weather-info {
  font-size: 20px;
}
#hourly-forecast {
  margin-top: 50px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.hourly-item {
  flex: 0 0 auto;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  color: white;
}
.hourly-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
#hourly-heading {
  color: #fff;
  margin-top: 10px;
}
